---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tu Imagen Rx - Dashboard">
  <section>
    <h1 class="text-3xl font-bold">Bienvenido al Panel de Control</h1>
    <p id="token-info" class="text-sm mt-2">Cargando...</p>
  </section>
</Layout>
