---
import LoginForm from "../components/LoginForm.astro";
---

<html lang="es" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Tu Imagen RX - Login</title>
  </head>
  <body>
    <LoginForm />
  </body>
</html>
